*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

/* Header */

.header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 30px;
}

.header__link {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    text-decoration: none;
}

.header__choice {
    display: flex;
    align-items: center;
}

.header__login {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    text-decoration: none;
}

.header__signup {
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
}

/* Shorten */

.shorten {
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.shorten__info {
    flex: 1;
}

.shorten__title {
    max-width: 500px;
    font-size: 62px;
    font-weight: bold;
    line-height: 1.25;
}

.shorten__content {
    margin-top: 5px;
    max-width: 500px;
    color: hsl(257, 7%, 63%);
    line-height: 1.5;
}

.shorten__cta {
    margin-top: 30px;
    padding: 12px 27px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 17px;
    background-color: hsl(180, 66%, 49%);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.shorten__illustration {
    flex: 1;
    overflow: hidden;
    /* background-image: url("../images/illustration-working.svg"); */
}

.shorten__image {
    position: relative;
    left: 20px;
    width: 700px;
    height: auto;
}

/* Form */

.form {
    padding: 0 100px;
}

.form__form {
    display: flex;
    padding: 40px;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    border-radius: 10px;
}

.form__input {
    flex: 1;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 10px;
    border: 0;
}

.form__input::placeholder {
    font-family: "Poppins", sans-serif;
}

.form__submit {
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
}