*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

/* Header */

.header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 30px;
}

.header__link {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    text-decoration: none;
}

.header__link:hover {
    color: hsl(0, 0%, 0%);
}

.header__choice {
    display: flex;
    align-items: center;
}

.header__login {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    text-decoration: none;
}

.header__signup {
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    transition: background-color 150ms ease-out;
}

.header__signup:hover {
    background-color: hsl(180, 66%, 70%);
}

/* Shorten */

.shorten {
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.shorten__info {
    flex: 1;
}

.shorten__title {
    max-width: 500px;
    font-size: 62px;
    font-weight: bold;
    line-height: 1.25;
}

.shorten__content {
    margin-top: 5px;
    max-width: 500px;
    color: hsl(257, 7%, 63%);
    line-height: 1.5;
}

.shorten__cta {
    margin-top: 30px;
    padding: 12px 27px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 17px;
    background-color: hsl(180, 66%, 49%);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 150ms ease-out;
}

.shorten__cta:hover {
    background-color: hsl(180, 66%, 70%);
}

.shorten__illustration {
    flex: 1;
    overflow: hidden;
}

.shorten__image {
    position: relative;
    left: 20px;
    width: 700px;
    height: auto;
}

/* Form */

.form {
    position: relative;
    top: -65px;
    padding: 0 100px;
}

.form__form {
    display: flex;
    padding: 40px;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    border-radius: 10px;
}

.form__input {
    flex: 1;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 10px;
    border: 0;
}

.form__input::placeholder {
    font-family: "Poppins", sans-serif;
}

.form__submit {
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: opacity 150ms ease-out;
}

.form__submit:hover {
    background-color: hsl(180, 66%, 70%);
}

/* Stat */

.stat {
    margin-top: 50px;
    background-color: hsl(0, 0%, 95%);
}

.stat__info {
    margin-top: 75px;
    text-align: center;
}

.stat__title {
    font-size: 36px;
    font-weight: bold;
}

.stat__content {
    margin: 15px auto;
    color: hsl(257, 7%, 63%);
    max-width: 500px;
    line-height: 1.5;
}

.stat__features {
    padding: 150px 100px 100px;
    display: flex;
}

.stat__feature {
    flex: 1;
    position: relative;
    padding: 25px;
    padding-top: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.stat__feature::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 60px;
    height: 8px;
    width: 25px;
    background-color:hsl(180, 66%, 49%);
}

.stat__feature {
    margin-left: 25px;
}

.stat__feature:first-of-type {
    margin-left: 0;
}

.stat__feature:first-of-type::before {
    content: none;
}

.stat__feature:nth-of-type(1) {
    bottom: 60px;
}

.stat__feature:nth-of-type(2) {
    bottom: 30px;
}

.stat__feature:nth-of-type(2)::before {
    top: 90px;
}

.stat__icon-wrapper {
    position: absolute;
    top: -40px;
    display: inline-block;
    padding: 15px;
    background-color: hsl(260, 8%, 14%);
    border-radius: 50%;
}

.stat__subtitle {
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
}

.stat__desc {
    color: hsl(257, 7%, 63%);
    font-size: 18px;
    line-height: 1.5;
}

/* Boost */

.boost {
    padding: 50px;
    text-align: center;
    background-color: hsl(257, 27%, 26%);
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boost__title {
    color: hsl(0, 0%, 100%);
    font-size: 36px;
    font-weight: bold;
}

.boost__cta {
    margin-top: 25px;
    padding: 12px 30px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 17px;
    background-color: hsl(180, 66%, 49%);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: background-color 150ms ease-out;
}

.boost__cta:hover {
    background-color: hsl(180, 66%, 70%);
}

/* Footer */

.footer {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(260, 8%, 14%);
}

.footer__icon {
    filter: brightness(5);
}

.footer__right {
    display: flex;
}

.footer__options {
    margin-right: 60px;
}

.footer__option {
    margin-bottom: 15px;
}

.footer__option--first {
    margin-bottom: 25px;
}

.footer__link {
    color: hsl(0, 0%, 75%);
    font-size: 15px;
    text-decoration: none;
}

.footer__link--first {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.footer__link:hover {
    color: hsl(180, 46%, 59%);
}

.footer__socials {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.footer__social {
    margin-left: 20px;
}

.footer__social-link:hover {
    filter: brightness(0) saturate(100%) invert(98%) sepia(92%) saturate(5361%) hue-rotate(126deg) brightness(86%) contrast(87%);
}